<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482980199995-g7qnpr3eq03ks6dh97gk48ac31jt67o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482980199995-g7qnpr3eq03ks6dh97gk48ac31jt67o7</string>
	<key>API_KEY</key>
	<string>AIzaSyB8y1KJNFdOX4HazT3H-Rrr3-1d6L1Ps4c</string>
	<key>GCM_SENDER_ID</key>
	<string>482980199995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.borobudurmarathon.app</string>
	<key>PROJECT_ID</key>
	<string>borobudur-marathon</string>
	<key>STORAGE_BUCKET</key>
	<string>borobudur-marathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482980199995:ios:8ad8490f0aeb1ba97ea61e</string>
</dict>
</plist>